@{
    ViewData["Title"] = "Login";
}
<form asp-action="LoginGuardar" method="post">
    <input name="username" placeholder="Usuario" required />
    <input name="password" type="password" placeholder="Contraseña" required />
    <button type="submit">Ingresar</button>
    <a asp-action="Registro" class="btn">Registrarse</a>
</form>
<p style="color:red">@ViewBag.Mensaje</p>