@{
    ViewData["Title"] = "Login";
}
<section class="contenedor">
  <form action="LoginGuardar" method="post">
      <input name="username" placeholder="Usuario" autocomplete="off" required />
      <input name="password" type="password" placeholder="Contraseña" autocomplete="off" required />
      <button type="submit">Ingresar</button>
      <a class="btn" href='@Url.Action("Registro", "Account")'>Registrarse</a>
  </form>
  <p class="error">@ViewBag.Mensaje</p>
</section>
