@{
    ViewData["Title"] = "Registro";
}
<form action = "RegistroGuardar", method="post">
    <input type = "text" placeholder="Nombre" autocomplete = "off" required />
    <input type = "text" placeholder="Apellido" autocomplete = "off" required />
    <input type = "text" placeholder="Foto" autocomplete = "off"/>
    <input type = "text" placeholder="Username" autocomplete = "off" required />
    <input type = "text" placeholder="Contraseña" autocomplete = "off" required />
    <button  type="submit"> Registrarse</button>
</form>

@if(ViewBag.Mensaje!=null){
    <p>@ViewBag.Mensaje</p>
}