@{
    ViewData["Title"] = "Registro";
}
<section class = "contenedor-registro">
<form action = "RegistroGuardar", method="post">
    <input name = "nombre" type = "text" placeholder="Nombre" autocomplete = "off" required />
    <input name = "apellido" type = "text" placeholder="Apellido" autocomplete = "off" required />
    <input name = "foto" type = "text" placeholder="Foto" autocomplete = "off"/>
    <input name = "username" type = "text" placeholder="Username" autocomplete = "off" required />
    <input name = "password" type = "password" placeholder="Contraseña" autocomplete = "off" required />
    <button  type="submit"> Registrarse</button>
</form>

@if(ViewBag.Mensaje!=null){
    <p>@ViewBag.Mensaje</p>
}
</section>