@{
    ViewData["Title"] = "EditarTarea";
    var tarea = ViewBag.Tarea;
}

<form action="EditarTareaGuardar" method="post">
    <input type="hidden" name="idTarea" value="@tarea.idTarea" />
    <input type="text" name="titulo" value="@tarea.titulo" autocomplete="off" required />
    <input type="text" name="descripcion"  value="@tarea.descripcion" autocomplete="off" required />
    <input type="date" name="fecha" value='@tarea.fecha.ToString("yyyy-mm-dd")' autocomplete="off" required />
    <button type="submit">Guardar cambios</button>
</form>
