@{
    ViewData["Title"] = "Index";
    var tareas = ViewBag.Tareas as List<Tarea> ?? new List<Tarea>();
}
<section class="contenedor-index">

<h2>Mis tareas</h2>
<a href="/Home/CrearTarea">+ Nueva Tarea</a>

<ul>
@foreach (var t in tareas)
{
    <li>
        <p>@t.titulo</p>
        <a href="/Home/VerTarea?id=@t.idTarea">Ver</a>
        <a href="/Home/EditarTarea?id=@t.idTarea">Editar</a>
        <a href="/Home/EliminarTarea?id=@t.idTarea">Eliminar</a>
        <a href="/Home/FinalizarTarea?id=@t.idTarea">Finalizar</a>
    </li>
}
</ul>

<form action="/Account/CerrarSesion" method="get">
    <button type="submit">Cerrar sesión</button>
</form>
</section>