@{
    ViewData["Title"] = "Ver Tarea";
    var tarea = ViewBag.Tarea as Tarea;
}

<h2>@tarea.titulo</h2>
<p>@tarea.descripcion</p>
<p>Fecha: @tarea.fecha.ToShortDateString()</p>
<p>Finalizada: @(tarea.finalizada ? "Sí" : "No")</p>
<a href="/Home/Index">Volver</a>
